In [1]:
import pandas as pd

In [2]:
# the list

store_data = [{'product_id':23, 'name':'computer', 'wholesale_price': 500, 'retail_price':1000, 'sales':100}, 
{'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,'retail_price':75, 'sales':1000},
{'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35, 'retail_price':75, 'sales':500},
{'product_id':15, 'name':'banana', 'wholesale_price': 0.5,'retail_price':1, 'sales':200},
{'product_id':87, 'name':'sandwich', 'wholesale_price': 3,'retail_price':5, 'sales':300}]

In [3]:
#converting list into dataframe

store_data_df = pd.DataFrame(store_data)

store_data_df['net_revenue_per_product'] = store_data_df.apply(lambda row: (row['retail_price'] - row['wholesale_price']) * row['sales'], axis=1)

store_data_df

,product_id,name,wholesale_price,retail_price,sales,net_revenue_per_product
0,23,computer,500.0,1000,100,50000.0
1,96,Python Workout,35.0,75,1000,40000.0
2,97,Pandas Workout,35.0,75,500,20000.0
3,15,banana,0.5,1,200,100.0
4,87,sandwich,3.0,5,300,600.0

In [4]:
w_p = store_data_df['wholesale_price']

r_p = store_data_df['retail_price']

sales = store_data_df['sales']

In [5]:
net_revenue_per_product = (r_p - w_p) * sales

net_revenue_per_product

0    50000.0
1    40000.0
2    20000.0
3      100.0
4      600.0
dtype: float64

In [6]:
store_data_df['net_revenue_per_product'] = store_data_df.apply(lambda row: (row['retail_price'] - row['wholesale_price']) * row['sales'], axis=1)

In [7]:
# How much total net revenue received from all of these sales?

print("The total net revenue is: ", net_revenue_per_product.sum())

The total net revenue is:  110700.0

In [8]:
# What product is product retail price more than twice the wholesale price?

for index, row in store_data_df.iterrows():
    if row['retail_price'] > (2*row['wholesale_price']):
        print (row['name'])

Python Workout
Pandas Workout

In [9]:
# How much did the store make from food vs. computers vs. books?

food_profit = store_data_df.loc[store_data_df['name'] == 'banana', 'net_revenue_per_product'].sum() + store_data_df.loc[store_data_df['name'] == 'sandwich', 'net_revenue_per_product'].sum()

In [10]:
food_profit

700.0

In [11]:
computer_profit = store_data_df.loc[store_data_df['name'] == 'computer', 'net_revenue_per_product'].sum()

computer_profit

50000.0

In [12]:
book_profit = store_data_df.loc[store_data_df['name'] == 'Python Workout', 'net_revenue_per_product'].sum() + store_data_df.loc[store_data_df['name'] == 'Pandas Workout', 'net_revenue_per_product'].sum()

book_profit

60000.0

In [13]:
# Because your store is doing so well, youâ€™re able to negotiate a 30% discount on the wholesale price of goods. Calculate the new net revenue

new_total_revenue = (((store_data_df['retail_price']-(store_data_df['wholesale_price']*(70/100)))*store_data_df['sales']).sum())

print('The new Total Revenue is: ',new_total_revenue)

The new Total Revenue is:  141750.0

In [15]:
#price after 15% tax imposed
store_data_df['15%Tax'] = store_data_df.apply(lambda row: (row['net_revenue_per_product'] *(85/100)), axis=1)
store_data_df

,product_id,name,wholesale_price,retail_price,sales,net_revenue_per_product,15%Tax
0,23,computer,500.0,1000,100,50000.0,42500.0
1,96,Python Workout,35.0,75,1000,40000.0,34000.0
2,97,Pandas Workout,35.0,75,500,20000.0,17000.0
3,15,banana,0.5,1,200,100.0,85.0
4,87,sandwich,3.0,5,300,600.0,510.0

In [16]:
#price after 15% tax imposed
store_data_df['15%Tax'] = store_data_df.apply(lambda row: (row['net_revenue_per_product'] *(85/100)), axis=1)
store_data_df

,product_id,name,wholesale_price,retail_price,sales,net_revenue_per_product,15%Tax
0,23,computer,500.0,1000,100,50000.0,42500.0
1,96,Python Workout,35.0,75,1000,40000.0,34000.0
2,97,Pandas Workout,35.0,75,500,20000.0,17000.0
3,15,banana,0.5,1,200,100.0,85.0
4,87,sandwich,3.0,5,300,600.0,510.0

In [24]:
#net income after 15%
net_revafter15per=store_data_df['15%Tax'].sum()
print(f'The total net income after 15% tax is {net_revafter15per:.2f}')

The total net income after 15% tax is 94095.00

In [22]:
#net income after 20%
store_data_df['20%Tax'] = store_data_df.apply(lambda row: (row['net_revenue_per_product'] *(80/100)), axis=1)
store_data_df

,product_id,name,wholesale_price,retail_price,sales,net_revenue_per_product,15%Tax,20%Tax
0,23,computer,500.0,1000,100,50000.0,42500.0,40000.0
1,96,Python Workout,35.0,75,1000,40000.0,34000.0,32000.0
2,97,Pandas Workout,35.0,75,500,20000.0,17000.0,16000.0
3,15,banana,0.5,1,200,100.0,85.0,80.0
4,87,sandwich,3.0,5,300,600.0,510.0,480.0

In [25]:
net_revafter20per=store_data_df['20%Tax'].sum()
print(f'The total net income after 20% tax is {net_revafter20per:.2f}')

The total net income after 20% tax is 88560.00

In [26]:
#net income after 20%
store_data_df['25%Tax'] = store_data_df.apply(lambda row: (row['net_revenue_per_product'] *(75/100)), axis=1)
store_data_df

,product_id,name,wholesale_price,retail_price,sales,net_revenue_per_product,15%Tax,20%Tax,25%Tax
0,23,computer,500.0,1000,100,50000.0,42500.0,40000.0,37500.0
1,96,Python Workout,35.0,75,1000,40000.0,34000.0,32000.0,30000.0
2,97,Pandas Workout,35.0,75,500,20000.0,17000.0,16000.0,15000.0
3,15,banana,0.5,1,200,100.0,85.0,80.0,75.0
4,87,sandwich,3.0,5,300,600.0,510.0,480.0,450.0

In [28]:
net_revafter25per=store_data_df['25%Tax'].sum()
print(f'The total net income after 25% tax is {net_revafter25per:.2f}')

The total net income after 25% tax is 83025.00